## Here is another one NLP problem with solution, A fake news classifier

In [71]:
## Data collected from Kaggle
#https://www.kaggle.com/c/fake-news/data#
import pandas as pd
data = pd.read_csv('fake_news.csv')
data

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [61]:
# data = data.drop('id',axis = 1)

In [72]:
data = data.dropna()

In [73]:
news = data.copy()

In [74]:
news.reset_index(inplace=True)

In [76]:
news.head(5)

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [77]:
X = data.iloc[:,:4]
y = data.iloc[:,4]

In [78]:
X.head(5)

,id,title,author,text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [79]:
y.head(5)

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [80]:
news['text'][4]

'Print \nAn Iranian woman has been sentenced to six years in prison after Iran’s Revolutionary Guard searched her home and found a notebook that contained a fictional story she’d written about a woman who was stoned to death, according to the Eurasia Review . \nGolrokh Ebrahimi Iraee, 35, is the wife of political prisoner Arash Sadeghi, 36, who is serving a 19-year prison sentence for being a human rights activist, the publication reported. \n“When the intelligence unit of the Revolutionary Guards came to arrest her husband, they raided their apartment – without a warrant – and found drafts of stories that Ebrahimi Iraee had written,” the article stated. \n“One of the confiscated drafts was a story about stoning women to death for adultery – never published, never presented to anyone,” the article stated. “The narrative followed the story of a protagonist that watched a movie about stoning of women under Islamic law for adultery.'

In [89]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
lem = WordNetLemmatizer()
corpus = []
for i in range(0, len(news)):
    sentc = re.sub('[^a-zA-Z]', ' ', news['text'][i])
    sentc = sentc.lower()
    sentc = sentc.split()
    sentc = [lem.lemmatize(word)for word in sentc if not word  in set(stopwords.words('english'))]
#     sent = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    sentc = ' '.join(sentc)
    corpus.append(sentc)

In [90]:
corpus[3]

'video civilian killed single u airstrike identified rate civilian killed american airstrikes afghanistan higher u engaged active combat operation photo hellfire missile loaded onto u military reaper drone afghanistan staff sgt brian ferguson u air force bureau able identify civilian killed single u drone strike afghanistan last month biggest loss civilian life one strike since attack medecins sans frontieres hospital msf last october u claimed conducted counter terrorism strike islamic state fighter hit nangarhar province missile september next day united nation issued unusually rapid strong statement saying strike killed civilian injured others gathered house celebrate tribal elder return pilgrimage mecca bureau spoke man named haji rais said owner house targeted said people killed others injured provided name listed bureau able independently verify identity died rais son headmaster local school among another man abdul hakim lost three son attack rais said involvement denied u claim member visited house strike said even speak sort people phone let alone receiving house death amount biggest confirmed loss civilian life single american strike afghanistan since attack msf hospital kunduz last october killed least people nangarhar strike u attack kill civilian september bureau data indicates many civilian allied soldier killed four american strike afghanistan somalia month september pair strike killed eight afghan policeman tarinkot capital urozgan provice u jet reportedly hit police checkpoint killing one officer returning target first responder use tactic known double tap strike controversial often hit civilian rescuer u told bureau conducted strike individual firing posing threat afghan force email directly address allegation afghan policeman killed end month somalia citizen burnt u flag street north central city galcayo emerged drone attack may unintentionally killed somali soldier civilian strike occurred day one nangarhar somali afghan incident u first denied non combatant killed investigating strike nangarhar galcayo rate civilian killed american airstrikes afghanistan higher u engaged active combat operation name'

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_v = TfidfVectorizer(max_features=5000,ngram_range=(1,4))
X = tfidf_v.fit_transform(corpus).toarray()

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [93]:
tfidf_v.get_feature_names()[:50]

['aaron',
 'abandon',
 'abandoned',
 'abc',
 'abe',
 'abedin',
 'ability',
 'able',
 'abortion',
 'abroad',
 'absence',
 'absolute',
 'absolutely',
 'abu',
 'abuse',
 'academic',
 'academy',
 'accept',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'access',
 'access pipeline',
 'accident',
 'accompanied',
 'accord',
 'according',
 'according report',
 'account',
 'accountability',
 'accountable',
 'accurate',
 'accusation',
 'accused',
 'accusing',
 'achieve',
 'achieved',
 'achievement',
 'acid',
 'acknowledge',
 'acknowledged',
 'acquired',
 'acre',
 'across',
 'across country',
 'act',
 'acted',
 'acting',
 'action']

In [96]:
counter_data = pd.DataFrame(X_train, columns=tfidf_v.get_feature_names())
counter_data.head(5)

,aaron,abandon,abandoned,abc,abe,abedin,ability,able,abortion,abroad,...,young,young people,younger,youth,youtube,zero,zika,zionist,zone,zu
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.19322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
#Using Naive Bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,confusion_matrix
clf=MultinomialNB()
clf.fit(X_train,y_train)
pred = clf.predict(X_test)
score = accuracy_score(y_test, pred)
print("The accuracy of the model is "+str(score))
print('Confusion Matrix')
conf_mat = confusion_matrix(y_test,pred)
conf_mat

The accuracy of the model is 0.895940347970174
Confusion Matrix

array([[3236,  153],
       [ 475, 2171]])

In [102]:
#Using Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
clf=RandomForestClassifier()
clf.fit(X_train,y_train)
pred = clf.predict(X_test)
score = accuracy_score(y_test, pred)
print("The accuracy of the model is "+str(score))
print('Confusion Matrix')
conf_mat = confusion_matrix(y_test,pred)
conf_mat

/Users/apple/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

The accuracy of the model is 0.8868268434134217
Confusion Matrix

array([[3227,  162],
       [ 521, 2125]])